<div>
  <div class="row mx-3 border rounded-1 bg-dark p-3 text-light ">
    {{title}}
  </div>
  <div class="row m-3 ">
    <div class="col-md-4 ps-0">
      <div class="rounded-1 border p-3">

        <form class="row g-1 justify-content-center" #searchForm = ngForm>
          <div class="d-flex align-items-center justify-content-between pb-2">
            <p class="fw-bold mb-0">Search</p>
            <div>
              <button type="button" (click)= "refresh()" class="btn btn-primary">Làm mới</button>
            </div>
          </div>
          <hr>
          <div class="mb-3 row">
            <label for="txtName" class="col-sm-4 col-form-label fw-bold">Tên </label>
            <div class="col-sm-8">
              <input type="text" ngModel="{{similar?.name}}" class="form-control" id="txtName" name="name">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="txtBrand" class="col-sm-4 col-form-label fw-bold">Hãng</label>
            <div class="col-sm-8">
              <input type="text" ngModel="{{similar?.brand}}" class="form-control" id="txtBrand" name="brand">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="txtqty" class="col-sm-4 col-form-label fw-bold">Số lượng &lt;</label>
            <div class="col-sm-8">
              <input type="number" ngModel="{{similar?.qty}}" class="form-control" id="txtqty" name="qty">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="txtprice" class="col-sm-4 col-form-label fw-bold">Giá &lt;</label>
            <div class="col-sm-8">
              <input type="number" ngModel="{{similar?.price}}" class="form-control" id="txtprice" name="price">
            </div>
          </div>
          <div class="row mb-3">
            <button type="submit" (click) = "search(searchForm.value)" class="btn btn-success">Tìm kiếm</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 p-0" id="main-action">
      <div class="p-3 border rounded-1">
        <div class="row">
          <div class="d-flex align-items-center justify-content-between">
            <p class="fw-bold mb-0">Product List</p>
            <div>
              <a (click)="openModal(null, 'add')" class="btn btn-sm text-success fs-3" title="Add" type="button"><i
                  class='bx bxs-add-to-queue'></i></a>
            </div>
          </div>
        </div>
        <hr>
        <table class="table  table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Hãng</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá</th>
              <th class="text-end"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pro of products">
              <td class="text-center">{{pro.id}}</td>
              <td class="fw-bold">{{pro.name}}</td>
              <td>{{pro.brand}}</td>
              <td>{{pro.qty}}</td>
              <td>{{pro.price}}</td>
              <td class="text-end">
                <a (click)="openModal(pro,'edit')" class="btn btn-sm text-warning fs-3" title="Edit"><i
                    class='bx bxs-comment-edit'></i></a> &nbsp;
                <a (click)="openModal(pro,'delete')" class="btn btn-sm text-danger fs-3" title="Delete"><i
                    class='bx bx-comment-x'></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="products?.length == 0" class="text-center">
          Không có dữ liệu
        </div>
        <div class="d-flex align-items-center pb-0" *ngIf="status">
          <button id="pre" class="btn btn-outline-primary border-0"  (click)= "navproduct(-1)" [disabled]="first ? 'disabled': null" ><i class='bx bxs-left-arrow'></i>  Trước</button>
          &nbsp; Trang {{pagination?.number+1}} /
           {{pagination?.totalPages}} &nbsp;
          <button id= "nex" class="btn btn-outline-primary border-0"   (click)= "navproduct(1)"[disabled]="last ? 'disabled': null">Sau   <i class='bx bxs-right-arrow' ></i></button>
      </div>
      </div>
    </div>

  </div>
  <!-- Edit -->
  <div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cập nhật sản phẩm {{productAE?.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #editForm = "ngForm">
        <div class="modal-body">
          <div class="mb-1">
            <input type="text" ngModel="{{productAE?.id}}" class="form-control" id="id" name="id" placeholder="" hidden>
          </div>
          <div class="mb-1">
            <label for="name" class="form-label fw-bold">Tên sản phẩm</label>
            <input type="text" ngModel="{{productAE?.name}} " class="form-control" id="name" name="name" placeholder="">
          </div>
          <div class="mb-1">
            <label for="brand" class="form-label fw-bold">Hãng</label>
            <input type="text" ngModel="{{productAE?.brand}} " class="form-control" id="brand" name="brand" placeholder="">
          </div>
          <div class="mb-1">
            <label for="qty" class="form-label fw-bold">Số lượng</label>
            <input type="text" ngModel="{{productAE?.qty}} " class="form-control" id="qty" name="qty" placeholder="">
          </div>
          <div class="mb-1">
            <label for="price" class="form-label fw-bold">Giá</label>
            <input type="text" ngModel="{{productAE?.price}} " class="form-control" id="price" name="price" placeholder="">
          </div>
        </div></form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" mat-raised-button type="submit" (click) = "editProduct(editForm.value)" class="btn btn-primary" data-bs-dismiss="modal">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add -->
  <div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #addForm = "ngForm" (ngSubmit)="addProduct(addForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Thêm sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-1">
            <label for="name" class="form-label fw-bold">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" ngModel name="name" placeholder="">
          </div>
          <div class="mb-1">
            <label for="brand" class="form-label fw-bold">Hãng</label>
            <input type="text" class="form-control" id="brand" ngModel name="brand" placeholder="">
          </div>
          <div class="mb-1">
            <label for="qty" class="form-label fw-bold">Số lượng</label>
            <input type="text" class="form-control" id="qty" ngModel name="qty" placeholder="">
          </div>
          <div class="mb-1">
            <label for="price" class="form-label fw-bold">Giá</label>
            <input type="text" class="form-control" id="price" ngModel name="price" placeholder="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary " data-bs-dismiss="modal">Đóng</button>
          <button type="submit" mat-raised-button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Thêm</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete -->
  <div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn xóa sản phẩm có id : {{productAE?.id}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" mat-raised-button type="submit" (click) = "deleteProduct(productAE.id)" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Message -->
</div>

